<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item" routerLink="/">Home</a>
        <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="ui text container">
      <h1 class="ui inverted header">
        Deliver Anything, Anywhere
      </h1>
      <h2>Just tell us Pickup, Deliver addresses and choose Delivery Method. It's Done.</h2>
      <a class="ui teal huge button" routerLink="/package/schedule">Schedule package<i class="right shipping icon"></i></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Individual and Companies.</h3>
          <p>We provide easy and convinient way to schedule Pickup and Delivery, with India's courier services.</p>
          <h3 class="ui header">Never loose Tracking of your package.</h3>
          <p>We provide best way to show the current location of your precious package.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe segment center aligned">
    <div class="ui container">
      <h3 class="ui header">Track Your Package</h3>
      <p>We are fetching live tracking of your valuable package. Never loose tracking of you package. Share it with your customers or receiver.</p>
      <div class="ui action input">
        <input value="EFJ345354390530" type="text">
        <button class="ui teal right labeled icon button">
          <i class="find icon"></i>
          Track Now
        </button>
      </div>
    </div>
  </div>


  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
  </div>
</div>

